services:
  db:
    image: postgres:16-alpine
    container_name: db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    env_file:
      - .env
    networks:
      - network

volumes:
  postgres_data:

networks:
  network:
    driver: bridge
